:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #14854F;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

body{
    user-select: none;
}

body.dark {
    --bg-color: #3F3F3F;
    --bg-secondary-color: black;
    --font-color: #C8C8C8;
    --color-grey: #ccc;
    --color-darkGrey: #777;
}

.gameMoves>span {
    cursor: pointer;
    background-color: lightblue;
    text-decoration: none;
    color: black;
}

.gameMoves>.gameResult,
.gameMoves>.gameAnno {
    background-color: white;
    /* font-weight: bold; */
}

.overlay-4fc5e {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    opacity: 1.0;
    fill: #efb700;
    stroke: #efb700;
}

.overlay-4fc5e defs {
    stroke: none;
}

.overlay-group-672a1 {
    opacity: 0.7;
    stroke-linecap: square;
    stroke-linejoin: round;
    marker-end: url(#arrowhead);
    marker-start: url(#bulb);
    fill: none;
}

.highlight-white {
    box-shadow: inset 0 0 2px 2px yellow;
}

.highlight-black {
    box-shadow: inset 0 0 2px 2px blue;
}

.highlight {
    font-weight: bold;
    background-color: var(--bg-secondary-color);
}


#board {
    width: auto;
    margin: auto;
    max-width: 100vw;
    touch-action: none;
}

.piece-417db {
    touch-action: none;
    cursor: grab;
}

[id^='gameMove'] {
    cursor: pointer;
}

[id^='gameMove']:hover {
    background-color: darkgreen;
}

.ulta {
    rotate: 180deg;
}

.square-55d63,
[id^='gameMove'] {
    /* background-image: url("move_feedbacks/blunder.svg"); */
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: center;
    background-size: 10%;
}

[id^='gameEval'] {
    color: grey;
    text-align: right;
    font-size: small;
    float: right;
    padding-right: 5px;
}

#game-history td {
    padding: 4px;
}

#evalbar {
    position: relative;
}

#evalbarB {
    height: 50%;
    transition: height 0.5s ease-in-out;
    background-color: black;
}

#evalbarW {
    height: 50%;
    transition: height 0.5s ease-in-out;
    background-color: white;
}

#eval {
    left: -50%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: absolute;
}