:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #14854F;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

body.dark {
    --bg-color: #3F3F3F;
    --bg-secondary-color: black;
    --font-color: #C8C8C8;
    --color-grey: #ccc;
    --color-darkGrey: #777;
}

.gameMoves>span {
    cursor: pointer;
    background-color: lightblue;
    text-decoration: none;
    color: black;
}

.gameMoves>.gameResult,
.gameMoves>.gameAnno {
    background-color: white;
    /* font-weight: bold; */
}

.overlay-4fc5e {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    opacity: 1.0;
    fill: #efb700;
    stroke: #efb700;
}

.overlay-4fc5e defs {
    stroke: none;
}

.overlay-group-672a1 {
    opacity: 0.7;
    stroke-linecap: square;
    stroke-linejoin: round;
    marker-end: url(#arrowhead);
    marker-start: url(#bulb);
    fill: none;
}

.highlight-white {
    box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
    box-shadow: inset 0 0 3px 3px blue;
}

.highlight {
    font-weight: bold;
    background-color: var(--bg-secondary-color);
}

#board {
    width: auto;
    margin: auto;
    max-width: 800px;
    touch-action: none;
}

.piece-417db {
    touch-action: auto;
    cursor: grab;
}

[id^='gameMove'] {
    cursor: pointer;
}

#evalbarB {
    height: 50%;
    background-color: black;
}

#evalbarW {
    height: 50%;
    background-color: white;
}